body {
    background-image: linear-gradient(to right top, #abd0bf, #a7cdbc, #a3cab9, #9ec8b6, #9ac5b3, #94c1ae, #8ebdaa, #88b9a5, #7fb39e, #77ad96, #6ea78f, #66a188);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

 
 .sub-title2 {
    margin: 20px 0 0 20px;
}

.form{
    display: flex;
    justify-content: center;
}

.formCreate{
    display: flex;
    flex-direction: column;
/*     margin-left: 20px;
 */    padding:10px 0 0
}

.form-input{
    font-size: 15px;
    height: 50px;
    font-size: 15px;
    color: #040404;
    border: none;
    border-radius: 10px;
    padding: 15px 50px 15px 20px;
    background: #deede5;
    backdrop-filter: blur(2px);
    outline: none;
}
.form-input-texto{
    font-size: 15px;
    height: 50px;
    font-size: 15px;
    color: #040404;
    border: none;
    border-radius: 10px;
    padding: 15px 50px 15px 20px;
    background: #deede5;
    backdrop-filter: blur(2px);
    outline: none;
}
.form-label{
    margin-bottom: 5px;
    font-weight: bolder;
}

.inputCreate{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.guardarProd{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    width: 50%;
    height: 40px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.guardarProd:hover{
    background-color: #ABD0BF;
    border-style: none;
}

.preview {
    max-width: 300px;
    max-height: 300px;
    border: 1px solid #ccc;
}

.previewText{
    font-weight: bold;
    margin: 25px 0 10px
}

@media (min-width: 769px){
    .card-product{
        flex:45%;
    }
    .ingresa-registrate-carro{
        display: flex;
    }
    .card-info{
        display: block;
    }
    .card-info-enviosGratis{
        width: 20%;
    }
}
@media (min-width: 1000px) {
    .card-product{
        flex:20%;
    }
    .container3{
        display: flex;
    }  
}