* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to top right, #ABD0BF, #E6F1EC);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-image: linear-gradient(to bottom right, #b7dfcc, #9abbac);
    box-shadow: 5px 5px 10px #a6cab9, -8px -8px 16px #b0d6c5;
    position: relative;
    z-index: 2;
    height: 140px; /* Ajusta la altura según sea necesario */

}

.logo > img {
    height: 120px;
    top: 15px;
    position: relative;
}

.container {
    text-align: center;
    flex-grow: 1; /* Permite que el contenido se expanda para llenar el espacio restante */
    margin-top: 150px;
}

.container1 {
    display: flex;
    justify-content: flex-start; /* Cambiado de 'space-around' a 'flex-start' */
    align-items: center;
    margin-left: 90px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 1.2em;
    color: #666;
}

a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}