* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
i {
    font-size: 1em;
}

.list2 li{
    list-style: none;
}

#icono{
    transition:all 0.5s;
}

#icono:hover{
    color:#F23E16
}

.banner{
    width: 100%;
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    background-image: linear-gradient(to bottom right, #b7dfcc, #9abbac);
    box-shadow: 5px 5px 10px #a6cab9, -8px -8px 16px #b0d6c5;
    /* background-color: #c4ded2; /* abd0bf */ 
    position: relative;
    z-index: 2;
}
.container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo>img {
    height: 120px;
    top: 15px;
    position: relative;
}

.ingresa-registrate-carro{
    display: none;
}

.location {
    cursor: pointer;
}

.iconosHeader{
    padding-right: 10px;
}

.search-product {
    position: relative;
    margin: 30px 10px;
    width: 50%;
    border-bottom: 2px solid #000;
}

.search-product label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 1.1rem;
    pointer-events: none;
    transition: 0.5s;
    font-weight: bold;
}

input:focus~label,
input:valid~label {
    top: -3px;
}

.search-product input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 0.99rem;
    color: #000;
    font-weight: bold;
}

.container2 {
    display: flex;
/*     grid-gap: 25px;
 */ justify-content: space-around;
    padding: 5px;
}

.list1 {
    display: flex;
    grid-gap: 50px;
    list-style: none;

}

.list1Transition:hover{
    text-decoration: underline;
}
.list1Transition{
    transition-property: all;
}

.container3 {
    display: none;
    justify-content: space-around;
    align-items: center;
    margin-top:20px
}
.list2 {
    text-decoration: none;
    list-style: circle;
    display: flex;
    grid-gap: 45px;
    justify-content: center;
    cursor: pointer;
    color: #3c3c3c;
}


.ingresa-registrate-carro{
    display: none;
}

/* categories--------------- */

    .categories{
        display: flex;
        justify-content: space-between;
    }
    .whatsapp-button{
        font-size: 30px;
        color: #25D366;
        position: absolute;
        right: 120px;
    }
    .instagram-button{
        font-size: 30px;
        color: #FD1D1D;
        position:absolute;
        right: 20px;
    }
    .facebook-button{
        font-size: 30px;
        color: #1877F2;
        position:absolute;
        right: 70px;
    }

  .dropbtn {
    background-image: linear-gradient(to bottom right, #b7dfcc, #9abbac);
    color: white;
    padding: 12px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    position: relative;
    left: 20px 
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .show {
    display: block;
  }

  .rotate {
    transform: rotate(-90deg);
}
/* --------------- */

.iconoFooter-ig{
    font-size: 30px;
    color: #FD1D1D;
}
.iconoFooter-fb{
    font-size: 30px;
    color: #1877F2;
}
.iconoFooter-wsp{
    font-size: 30px;
    color: #25D366;
}

footer {
    background-color: #A9B5AC;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.footer ul{
    list-style: none;
    cursor: pointer;
}

.footer h3 {
    padding: 5px;
}

.help-list {
    padding: 2px;
}
.social-media {
    display: flex;
    justify-content: space-around;
    grid-gap: 15px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

.div-footer{
    flex:1;
}

@media (min-width: 500px) {
    .container2{
        grid-gap: 25px;
    }
}

@media (min-width: 880px){
    .ingresa-registrate-carro{
        display: flex;
    }
    .container3{
        display: flex;
    }  
}