* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
i {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    background-color: #c4ded2; /* abd0bf */
}
.container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo>img {
    height: 120px;
    top: 15px;
    position: relative;
}

.ingresa-registrate-carro{
    display: none;
}

.location {
    cursor: pointer;
}

.iconosHeader{
    padding-right: 10px;
}

.search-product {
    position: relative;
    margin: 30px 10px;
    width: 50%;
    border-bottom: 2px solid #000;
}

.search-product label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 1.1rem;
    pointer-events: none;
    transition: 0.5s;
    font-weight: bold;
}

input:focus~label,
input:valid~label {
    top: -3px;
}

.search-product input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 0.99rem;
    color: #000;
    font-weight: bold;
}

.container2 {
    display: flex;
    grid-gap: 25px;
    justify-content: space-around;
    padding: 5px;
}

.list1 {
    display: flex;
    grid-gap: 50px;
    list-style: none;

}

.list1Transition:hover{
    text-decoration: underline;
}
.list1Transition{
    transition-property: all;
}

.container3 {
    display: none;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
.list2 {
    text-decoration: none;
    list-style: circle;
    display: flex;
    grid-gap: 45px;
    justify-content: center;
    cursor: pointer;
    color: #3c3c3c;
}

.verTodo{
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    padding-bottom: 10px;
    list-style: none;
    cursor:pointer;
}

.todosLosProductos{
    display: flex;
}

.fa-bars{
    margin: 0 5px 0 0;
}

.ingresa-registrate-carro{
    display: none;
}

footer {
    background-color: silver;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.footer ul{
    list-style: none;
    cursor: pointer;
}

.footer h3 {
    padding: 5px;
}

.help-list {
    padding: 2px;
}
.social-media {
    display: flex;
    justify-content: space-around;
    grid-gap: 15px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

.div-footer{
    flex:1;
}

@media (min-width: 880px){
    .ingresa-registrate-carro{
        display: flex;
    }
    .container3{
        display: flex;
    }  
}
@media (min-width: 900px){
.list2{
    grid-gap: 70px;
}
}