* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.cart-counter {
    display: block;
    text-align: center;
}

i {
    font-size: 1em;
}

.list2 li {
    list-style: none;
}

#icono {
    transition: all 0.5s;
}

#icono:hover {
    color: #F23E16;
}

.banner {
    width: 100%;
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    background-image: linear-gradient(to bottom right, #b7dfcc, #9abbac);
    box-shadow: 5px 5px 10px #a6cab9, -8px -8px 16px #b0d6c5;
    position: relative;
    z-index: 2;
}

.container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo > img {
    height: 60px;
    top: 6px;
    position: relative;
    margin-left: 6px;
}

.ingresa-registrate-carro {
    display: none;
}

.location {
    cursor: pointer;
}

.iconosHeader {
    padding-right: 10px;
}

.search-product {
    position: relative;
    margin: 30px 10px;
    margin-left: 12px;
    width: 48%;
    border-bottom: 2px solid #000;
}

.search-product label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 1.1rem;
    pointer-events: none;
    transition: 0.5s;
    font-weight: bold;
}

input:focus~label,
input:valid~label {
    top: -3px;
}

.search-product input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 0.99rem;
    color: #000;
    font-weight: bold;
    text-indent: 5px;
    margin-top: 5px;
}

.container2 {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    grid-gap: 6px;
}

.list1 {
    display: flex;
    grid-gap: 50px;
    list-style: none;
}

.list1Transition:hover {
    text-decoration: underline;
}

.list1Transition {
    transition-property: all;
}

.container3 {
    display: none;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.list2 {
    text-decoration: none;
    list-style: circle;
    display: flex;
    grid-gap: 45px;
    justify-content: center;
    cursor: pointer;
    color: #3c3c3c;
}

.ingresa-registrate-carro {
    display: none;
}

/* categories--------------- */

.categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}

/* .whatsapp-button {
    font-size: 30px;
    color: #25D366;
    position: absolute;
    right: 120px;
} */

.instagram-button {
    font-size: 30px;
    color: #FD1D1D;
    position: absolute;
    right: 80px;
}

.facebook-button {
    font-size: 30px;
    color: #1877F2;
    position: absolute;
    right: 30px;
}

.dropbtn {
    background: none;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: calc(100% - 10px);
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.dropbtn:hover+.dropdown-content,
.dropbtn:focus+.dropdown-content,
.dropdown-content:hover {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.rotate {
    transform: rotate(-90deg);
}

/* --------------- */

.iconoFooter-ig {
    font-size: 30px;
    color: #FD1D1D;
}

.iconoFooter-fb {
    font-size: 30px;
    color: #1877F2;
}

.iconoFooter-wsp {
    font-size: 30px;
    color: #25D366;
}

footer {
    background-color: #A9B5AC;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}

.footer .div-footer {
    flex: 1;
    margin: 12px;
    text-align: center;
}

.footer h3 {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 8px;
    font-size: 1.1em;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.iconoFooter-ig,
.iconoFooter-fb {
    font-size: 35px;
}

.social-media {
    display: flex;
    justify-content: space-around;
    grid-gap: 15px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

.social-media-icons a {
    margin: 0 10px;
}

.footer-brand {
    text-align: left;
    margin: 20px 0 2px 4px; 
    clear: both; 
}

.footer-brand .copyright-text {
    font-size: 0.8em; 
}

@media (min-width: 500px) {
    .container2 {
        grid-gap: 22px;
    }
    .footer-brand .copyright-text {
        font-size: 0.9em; 
    }
    .footer-brand {
        margin: 30px 0 2px 10px; 
}

    .logo > img {
        height: 72px;
    }

    .cart-counter {
        display: inline-block;
    }


@media (min-width: 880px) {
    .ingresa-registrate-carro {
        display: flex;
    }

    .container3 {
        display: flex;
    }

    .footer {
        flex-wrap: nowrap;
    }
}
}