.aca{
    text-decoration: underline;
    color: #F2AC57
}

.info-banner {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 25px;
}

.card-info {
    text-align: center;
    width: 20%;
    background: rgba(171, 208, 191, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    border: 1px solid rgba(171, 208, 191, 0.28);
    display: none;
}

.icon-info {
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.icon-info:hover {
    color: #F2AC57;
}

.description-info {
    padding: 3px;
}

.sub-title1 {
    padding: 5px;
}

.text-info {
    padding: 5px;
}
.card-info-enviosGratis i{
    font-size: 30px;
}
.card-info-enviosGratis{
    text-align: center;
    background: rgba(171, 208, 191, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    border: 1px solid rgba(171, 208, 191, 0.28);
}

.card-info i {
    font-size: 30px;
}

.sub-title2 {
    margin-top: 20px;
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
}

.sub-title {
    margin-top: 20px;
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1px;
    margin-top: 20px;
}

.card-product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex:100%;
    padding: 15px;
    grid-gap: 15px;
    border-radius: 10px;
    margin: 0 20px 45px 20px;
    border: solid #e6eae6;
 /*    background: linear-gradient(225deg, #9abbac, #b7dfcc); */
 /*    box-shadow: -3px 3px 8px #a4c8b7, 3px -3px 8px #b2d8c7; */

}

.card-product img {
    width: auto;
    border-radius: 15px;
    height: auto;
    max-width: 280px;
    max-height: 180px;
}
.card-product1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 100%;
    padding: 15px;
    grid-gap: 15px;
}
.product-description {
    width: 100%;
    border-top: solid #f0f5f0
}

.product-description h3 {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 5px;
    margin-top: 15px;
}

button {
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.add-shipping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 1px solid #ABD0BF;
    border-radius: 50%;
    background: #ABD0BF;
    /* background: linear-gradient(145deg, #b7dfcc, #9abbac); */
    /* box-shadow: -3px 3px 8px #a4c8b7, 3px -3px 8px #b2d8c7 */;
}

.add-shipping-cart i {
    font-size: 25px;
}

.buy {
    width: 220px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color:  #ABD0BF
/*     background: linear-gradient(145deg, #b7dfcc, #9abbac);
    box-shadow: 8px 8px 16px #a6cab9,
        -8px -8px 16px #b0d6c5; */
}

.buy p {
    font-family: sans-serif;
    font-size: .95rem;
}

.add-shipping-cart:hover {
    background: #ABD0BF;
    box-shadow: inset -18px 18px 36px #91b1a2,
        inset 18px -18px 36px #c5efdc;
    border: none;
}

.buy:hover {
    background: #ABD0BF;
    box-shadow: inset -18px 18px 36px #91b1a2,
        inset 18px -18px 36px #c5efdc;
    border: none;
}

.crearProducto{
    border: 1px solid #000;
    padding: 10px;
    text-decoration: none;
    max-width: 30%;
    justify-content: center;
    display: flex;
    margin:auto;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.crearProducto:hover{
    background-color: #ABD0BF;
}

.item{
    margin: 0 0 10px 0;
}

.item a{
    color:#3c3c3c
}

/* ---------- */

@media (min-width: 769px){
    .card-product{
        flex:45%;
    }
    .card-info{
        display: block;
    }
    .card-info-enviosGratis{
        width: 20%;
    }
}
@media (min-width: 1000px) {
    .card-product{
        flex:20%;
    }
    .card-product:hover{
        box-shadow: -3px 3px 8px #a4c8b7, 3px -3px 8px #b2d8c7;
    }
    
}