main{
    background-image: linear-gradient(to top right, #ABD0BF, #E6F1EC)
}
.aca{
    text-decoration: underline;
    color: #F2AC57
}

.slider-box{
    margin: 5px 5px 5px 5px;
    overflow: hidden;
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    transition: 0.5s cubic-bezier(0.4, 0, 1, 1);
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}

.slider-box img{
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.slider-controls {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    font-size: 10px;
}

.slider-controls .prev,
.slider-controls .next {
    cursor: pointer;
    /* background-color: rgba(255, 255, 255, 0.5); */
    padding: 5px;
    display: flex;
    align-items: center;
    width: 20px;
    height: 60px 
}

.slider-controls .prev:hover,
.slider-controls .next:hover,
.slider-controls .prev:hover + .next .fa-backward,
.slider-controls .next:hover + .prev .fa-forward {
    background-color: rgba(255, 255, 255, 0.8);
}
/* .slider-controls .prev:hover,
.slider-controls .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
 */
 .fa-backward,
 .fa-forward {
     opacity: 0;
     transition: all 0.1s;
 }
 
 .prev:hover .fa-backward,
 .next:hover .fa-forward {
     display: block;
     opacity: 0.6;
 }

/* .info-banner {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 25px;
} */

.card-info {
    text-align: center;
    width: 20%;
    background: rgba(171, 208, 191, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    border: 1px solid rgba(171, 208, 191, 0.28);
    display: none;
}

.icon-info {
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.icon-info:hover {
    color: #F2AC57;
}

.description-info {
    padding: 3px;
}

.sub-title1 {
    padding: 5px;
}

.text-info {
    padding: 5px;
}
.card-info-enviosGratis i{
    font-size: 30px;
}
.card-info-enviosGratis{
    text-align: center;
    background: rgba(171, 208, 191, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    border: 1px solid rgba(171, 208, 191, 0.28);
}

.card-info i {
    font-size: 30px;
}

.sub-title2 {
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
}

.sub-title {
    margin-top: 20px;
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1px;
    margin-top: 20px;
}

.card-product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex:100%;
    padding: 15px;
    grid-gap: 15px;
    border-radius: 10px;
    margin: 0 20px 45px 20px;
    border: solid #e6eae6;
 /*    background: linear-gradient(225deg, #9abbac, #b7dfcc); */
 /*    box-shadow: -3px 3px 8px #a4c8b7, 3px -3px 8px #b2d8c7; */

}

.card-product img {
    width: auto;
    border-radius: 15px;
    height: auto;
    max-width: 280px;
    max-height: 180px;
}
.card-product1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 100%;
    padding: 15px;
    grid-gap: 15px;
}
.product-description {
    width: 100%;
    border-top: solid #f0f5f0;

    height: 100px; /* Altura fija para el contenedor */
    overflow: hidden; /* Sacar esto cuando se ponga menos descripcion en el home */
    position: relative;
}

.product-description h3 {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 5px;
    margin-top: 15px;
    white-space: nowrap; 
    overflow: hidden; /* Sacar esto cuando se ponga menos descripcion en el home */
    text-overflow: ellipsis; 
}

button {
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.add-shipping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 1px solid #ABD0BF;
    border-radius: 50%;
    background: #ABD0BF;
    /* background: linear-gradient(145deg, #b7dfcc, #9abbac); */
    /* box-shadow: -3px 3px 8px #a4c8b7, 3px -3px 8px #b2d8c7 */;
}

.add-shipping-cart i {
    font-size: 25px;
}

.buy {
    width: 220px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color:  #ABD0BF
/*     background: linear-gradient(145deg, #b7dfcc, #9abbac);
    box-shadow: 8px 8px 16px #a6cab9,
        -8px -8px 16px #b0d6c5; */
}

.buy p {
    font-family: sans-serif;
    font-size: .95rem;
}

.add-shipping-cart:hover {
    background: #ABD0BF;
    box-shadow: inset -18px 18px 36px #91b1a2,
        inset 18px -18px 36px #c5efdc;
    border: none;
}

.buy:hover {
    background: #ABD0BF;
    box-shadow: inset -18px 18px 36px #91b1a2,
        inset 18px -18px 36px #c5efdc;
    border: none;
}

.crearProducto{
    border: 1px solid #000;
    padding: 10px;
    text-decoration: none;
    max-width: 30%;
    justify-content: center;
    display: flex;
    margin:auto;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.crearProducto:hover{
    background-color: #ABD0BF;
}

.item{
    margin: 0 0 10px 0;
}

.item a{
    color:#3c3c3c
}

/* ---------- */
@media (min-width:500px) {
    .slider-controls {
        top:43%;}
}
@media (min-width: 769px){
    .card-product{
        flex:45%;
        max-width: 45%;
    }
    .card-info{
        display: block;
    }
    .card-info-enviosGratis{
        width: 20%;
    }
    .slider-controls .prev,
    .slider-controls .next {
        width: 30px;
        height: 100px;
    }
    .slider-controls {
        top:45%;
        font-size: 15px;
    }
}
@media(min-width:880px){
    .slider-controls{
        top:48%
    }
    .card-product:hover{
        box-shadow: -3px 3px 8px #a4c8b7, 3px -3px 8px #b2d8c7;
    }
}
@media (min-width: 1000px) {
    .card-product{
        flex:20%;
    }
    
}