* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

i {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    background-color: #ABD0BF;
}

.container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo>img {
    height: 100px;
    margin: 5px;
}

.location {
    cursor: pointer;
}

.iconosHeader{
    padding-right: 10px;
}

/* ---- */
.search-product {
    position: relative;
    margin: 30px 0;
    width: 50%;
    border-bottom: 2px solid #000;
}

.search-product label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 1.1rem;
    pointer-events: none;
    transition: 0.5s;
    font-weight: bold;
}

input:focus~label,
input:valid~label {
    top: -3px;
}

.search-product input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 0.99rem;
    color: #000;
    font-weight: bold;
}

/* ---- */

.container2 {
    display: flex;
    grid-gap: 25px;
    justify-content: space-around;
    padding: 5px;
}

.list1 {
    display: flex;
    grid-gap: 50px;
    list-style: none;

}

.container3 {
    display: none;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.list2 {
    text-decoration: none;
    list-style: none;
    display: flex;
    grid-gap: 70px;
    justify-content: center;
    cursor: pointer;
}

.info-banner {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 25px;
}

.card-info {
    text-align: center;
    width: 20%;
    background: rgba(171, 208, 191, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    border: 1px solid rgba(171, 208, 191, 0.28);
    display: none;
}

.icon-info {
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.icon-info:hover {
    color: #F2AC57;
}

.description-info {
    padding: 3px;
}

.sub-title1 {
    padding: 5px;
}

.text-info {
    padding: 5px;
}
.card-info-enviosGratis i{
    font-size: 30px;
}
.card-info-enviosGratis{
    text-align: center;
    background: rgba(171, 208, 191, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    border: 1px solid rgba(171, 208, 191, 0.28);
}

.card-info i {
    font-size: 30px;
}

.sub-title2 {
    padding: 20px;
}
.sub-title {
    padding: 20px;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1px;
    margin-top: 20px;
}

.card-product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex:100%;
    padding: 15px;
    grid-gap: 15px;
    border-radius: 15px;
    margin: 0 20px 45px 20px;
    background: linear-gradient(225deg, #9abbac, #b7dfcc);
    box-shadow: -7px 7px 17px #a4c8b7,
        7px -7px 17px #b2d8c7;

}

.card-product img {
    width: auto;
    border-radius: 15px;
    height: auto;
    max-width: 300px;
    max-height: 200px;
}

.product-description {
    width: 100%;
}

.product-description h3 {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 5px;
}

button {
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    grid-gap: 50px;
}

.add-shipping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    border: 1px solid #ABD0BF;
    border-radius: 50%;
    background: #ABD0BF;
    background: linear-gradient(145deg, #b7dfcc, #9abbac);
    box-shadow: 8px 8px 16px #a6cab9,
        -8px -8px 16px #b0d6c5;
}

.add-shipping-cart i {
    font-size: 25px;
}

.buy {
    width: 235px;
    height: 55px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(145deg, #b7dfcc, #9abbac);
    box-shadow: 8px 8px 16px #a6cab9,
        -8px -8px 16px #b0d6c5;
}

.buy p {
    font-family: sans-serif;
    font-size: .95rem;
}

.add-shipping-cart:hover {
    background: #ABD0BF;
    box-shadow: inset -18px 18px 36px #91b1a2,
        inset 18px -18px 36px #c5efdc;
    border: none;
}

.buy:hover {
    background: #ABD0BF;
    box-shadow: inset -18px 18px 36px #91b1a2,
        inset 18px -18px 36px #c5efdc;
    border: none;
}

footer {
    background-color: silver;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.footer ul{
    list-style: none;
    cursor: pointer;
}

.footer h3 {
    padding: 5px;
}

.help-list {
    padding: 2px;
}

.social-media {
    display: flex;
    justify-content: space-around;
    grid-gap: 15px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

.div-footer{
    flex:1;
}

.verTodo{
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    padding-bottom: 10px;
    list-style: none;
    cursor:pointer;
}

.ingresa-registrate-carro{
    display: none;
}

.crearProducto{
    border: 1px solid #000;
    padding: 10px;
    text-decoration: none;
    max-width: 30%;
    justify-content: center;
    display: flex;
    margin:auto;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.crearProducto:hover{
    background-color: #ABD0BF;
}

/* ---------- */

@media (min-width: 769px){
    .card-product{
        flex:45%;
    }
    .ingresa-registrate-carro{
        display: flex;
    }
    .card-info{
        display: block;
    }
    .card-info-enviosGratis{
        width: 20%;
    }
}
@media (min-width: 1000px) {
    .card-product{
        flex:20%;
    }
    .container3{
        display: flex;
    }  
}