* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.error-back{
    color: #990000;
    font-size: 14px;
    margin-top: 3px;
    /* width: 310px; */
    position: absolute;
    left: 0px;
    bottom: 55px;
}

.error-back-data{
    color: #990000;
    font-size: 14px;
    margin-top: 3px;
    /* width: 310px; */
    position: absolute;
    left: 0px;
    bottom: 150px;

}

body {
    background-image: linear-gradient(to right top, #abd0bf, #a7cdbc, #a3cab9, #9ec8b6, #9ac5b3, #94c1ae, #8ebdaa, #88b9a5, #7fb39e, #77ad96, #6ea78f, #66a188);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.textImage {
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.back-to-home {
    position: absolute;
    left: 300px;
    top: 30px;
    cursor: pointer;
    font-size: 24px;
}

.box-login {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    padding: 50px 20px 30px 20px;
    height: 600px;
    width: 400px;
    overflow: auto;
    border-radius: 30px;
    background-color: #66a18b;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    padding: 36px 20px 30px 20px;
    height: 750px;
    width: 400px;
    overflow: auto;
    border-radius: 30px;
    background-color: #66a18b;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.input-field {
    margin: 0 40px 37px;
    position: relative;
}

.error-message {
    color: #990000;
    font-size: 14px;
    margin-top: 3px; 
    width: 310px;
    position: absolute; 
    left: 0px;
}

.top-header {
    text-align: center;
    margin-top: 30px;
}

.top-header h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.top-header-login {
    text-align: center;
    margin: 30px 0 60px 0;

}

.top-header-login h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.button-submit{
    text-align: center;
}
.buttons-icons {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 15px;
}

.buttons-icons button {
    width: 85%;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to right bottom, #94c1af, #80b19e, #6da28e, #59937e, #45846f);
    border: 1px solid #fff;
    color: #0f1f1b;
}

.caja-register{
    margin: 50px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.caja-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box {
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #040404;
    border: none;
    border-radius: 10px;
    padding: 15px 70px 15px 20px;
    background: #deede5;
    backdrop-filter: blur(2px);
    outline: none;
}
.input-box-login {
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #040404;
    border: none;
    border-radius: 10px;
    padding: 15px 120px 15px 20px;
    background: #deede5;
    backdrop-filter: blur(2px);
    outline: none;
}

.input-field label {
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 15px;
    transition: .3s ease-in-out;
}

.remember {
    display: flex;
    font-size: 13px;
    margin: 0px 0 37px 0;
    color: #000000;
}

.check {
    margin-right: 8px;
    width: 14px;
}

.input-submit,
.input-submit-login {
    width: 200px; /* Reducir el ancho del botón */
    height: 45px; /* Reducir la altura del botón */
    font-size: 14px; /* Ajustar el tamaño de la fuente */
    background-color: #45846f; /* Establecer el color de fondo verde oscuro */
    border: none; /* Eliminar el borde del botón */
    border-radius: 5px; /* Agregar bordes redondeados */
    transition: background-color 0.4s, color 0.4s; /* Agregar transición de color de fondo y texto */
    margin-bottom: 5px;
}

.input-submit:hover,
.input-submit-login:hover {
    background-color: #6da28e; /* Cambiar a un verde ligeramente más claro al pasar el mouse */
    color: #fff; /* Cambiar el color del texto a blanco al pasar el mouse */
}

.input-submit-login {
    width: 200px; /* Reducir el ancho del botón */
    height: 45px; /* Reducir la altura del botón */
    font-size: 14px; /* Ajustar el tamaño de la fuente */
    background-color: #45846f; /* Establecer el color de fondo verde oscuro */
    border: none; /* Eliminar el borde del botón */
    border-radius: 5px; /* Agregar bordes redondeados */
    transition: background-color 0.4s, color 0.4s; /* Agregar transición de color de fondo y texto */
    margin-bottom: 5px;
}

.input-submit-login:hover {
    background-color: #6da28e; /* Cambiar a un verde ligeramente más claro al pasar el mouse */
    color: #fff; /* Cambiar el color del texto a blanco al pasar el mouse */

}

.forgot {
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 40px;
}

.forgot a {
    text-decoration: none;
    color: #000;
}

.login2 {
    text-align: center;
    margin-bottom: 50px;
}
.login-active {
    margin:10px;
    text-decoration: none;
    color: #030303;
    transition: all;
    transition-duration: 0.3s;
}

.login-active:hover{
    color:#F23E16
}

.eye-area {
    position: absolute;
    top: 25px;
    right: 25px;
}

.eye-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.eye-box i {
    position: absolute;
    color: #444444;
    cursor: pointer;
}

#eye,
#eye-2 {
    opacity: 1;
}

#eye-slash,
#eye-slash-2 {
    opacity: 0;
}

@media(min-width: 460px) {
    .img-lider {
        display: block;
        width: 10%;
        position: absolute;
    }
}

@media(min-width: 700px) {
    .input-field{
        margin: 0 30px 37px 30px;
    }
    .input-submit{
        width: 300px;
    }
    .input-submit-login{
        width: 300px;
    }
}

@media only screen and (max-width: 576px) {
    .box {
        margin: 0 5px;
    }

    #btn {
        position: absolute;
        width: 153px;
    }
}