* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(to right top, #abd0bf, #a7cdbc, #a3cab9, #9ec8b6, #9ac5b3, #94c1ae, #8ebdaa, #88b9a5, #7fb39e, #77ad96, #6ea78f, #66a188);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.img-lider{
   display: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.back-to-home{
    position: absolute;
    left: 300px;
    top: 30px;
    cursor: pointer;
    font-size: 24px;
}

.box {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 50px 20px 30px 20px;
    height: 890px;
    width: 350px;
    border-radius: 30px;
    background-color: #66a18b;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.box-login-register{
    position: absolute;
    width: 85%;
    left: 27px;
    transition: .5s ease-in-out;
}

.top-header {
    text-align: center;
    margin: 10px 0;
}

.top-header h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.buttons-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 15px
}

.buttons-icons button {
    width: 85%;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to right bottom, #94c1af, #80b19e, #6da28e, #59937e, #45846f);
    border: 1px solid #fff;
    color: #0f1f1b;
}

.input-group {
    width: 100%;
    padding: 10px 0 0 0;
}

.input-field {
    margin: 12px 0;
    position: relative;
}

.input-box {
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #040404;
    border: none;
    border-radius: 10px;
    padding: 15px 50px 15px 20px;
    background: #deede5;
    backdrop-filter: blur(2px);
    outline: none;
}

.input-field label {
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 15px;
    transition: .3s ease-in-out;
}

.remember {
    display: flex;
    font-size: 13px;
    margin: 20px 0 20px 0;
    color: #000000;
}

.check {
    margin-right: 8px;
    width: 14px;
}

.input-submit {
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background: #45846f;
    color: #fff;
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.144);
    cursor: pointer;
    transition: .4s;
    font-weight: bold;
}

.input-submit:hover {
    background: #94c1af;
    color: #0f1f1b;
}

.forgot {
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    margin-top: 40px;
}

.forgot a {
    text-decoration: none;
    color: #000;
}

.switch {
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 27px;
    width: 85%;
    height: 50px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.switch a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    z-index: 10;
}

.switch-register {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 27px;
    width: 85%;
    height: 50px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.switch-register a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    z-index: 10;
}

#btn {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 145px;
    height: 50px;
    background: rgb(106, 223, 206);
    background: linear-gradient(to right, #abd0bf, #92bdaa, #78a996, #5f9782, #45846f);
    border-radius: 10px;
    box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.1);
    transition: .5s ease-in-out;
}

.eye-area {
    position: absolute;
    top: 25px;
    right: 25px;
}

.eye-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

i {
    position: absolute;
    color: #444444;
    cursor: pointer;
}

#eye,
#eye-2 {
    opacity: 1;
}

#eye-slash,
#eye-slash-2 {
    opacity: 0;
}

.error-message{
    color:#F23E16;
    font-size:15px
}
@media(min-width: 460px){
    .img-lider{
        display: block;
        width: 10%;
        position: absolute;
    }
    
}
@media(min-width: 700px){
    .img-lider{
        width: 10%;
        position: absolute;
        left: 50px;}
}
@media only screen and (max-width: 576px) {
    .box {
        margin: 0 5px;
    }

    #btn {
        position: absolute;
        width: 153px;
    }
}