/* ---------------------------------------------------------- */
main{
    background-image: linear-gradient(to top right, #ABD0BF, #E6F1EC)
}
.related-products-text{
    margin: 0 10px;
}

.all-related-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: left; 
    gap: 20px; 
    margin: 30px 40px 0px 20px; 
}

.related-singleProduct {
    flex: 1 0 auto;
    max-width: 350px;
    padding: 15px;
    border: solid #e6eae6;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.related-singleProduct img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 220px;
    border-radius: 15px;
}

.related-singleProduct .related-product-description {
    padding-top: 15px;
    padding-left: 15px;
    height: 100px;
    overflow: hidden;
    text-align: left;
    margin-top: 10px; 
}

.related-singleProduct .related-product-description h3 {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 5px;
    margin-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.related-singleProduct:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container {
    margin: auto;
    padding: 20px;
    width: 86%;
    text-align: center;
}

.product-image {
    margin-bottom: 10px; 
}

.product-image img {
    max-width: 100%;
    max-height: 350px;
    padding: 10px;
    display: block;
    margin: auto;
}

.product-description {
    margin-bottom: 10px;
}

.name-product {
    margin-bottom: 10px;
    font-size: 22px;
}

.description {
    margin-bottom: 25px;
    font-size: 16px;
}

.price {
    font-size: 24px;
    margin-bottom: 25px;
}

.cantidad {
    display: flex;
    margin-bottom: 35px;
    align-items: center;
    justify-content: center;
}

.restador, .sumador {
    width: 32px;
    height: 32px;
    font-size: 22px;
    border-radius: 50px;
    border-width: 1px;
    border-color: #ABD0BF;
    border-style: solid;
    background-color: white;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.restador:hover{
    background-color: #ABD0BF;
}
.sumador:hover{
    background-color: #ABD0BF;
}
.restador {
    margin: 0 10px 0 0;
}

.sumador {
    margin: 0 0 0 10px;
}

.social-media-1 {
    display: none;
}

.insta, .wpp {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.insta {
    margin-right: 8px;
}

.envio {
    display: none;
}

.buy-container {
   margin-bottom: 10px;
}


.buy-description {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
} 

.comprar, .carrito {
    width: 230px;
    height: 40px;
    border: none;
    transition:  0.2s ease;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 550;
}

.comprar {
    background-color:#4CAF50;
}

.carrito {
    background-color: #2196F3
}

.medios-pago {
    font-weight: bold;
    margin-bottom: 16px;
}

.tarjetas {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    gap: 15px; 
    margin-bottom: 30px;

}

.tarjetas img {
    width: 70px;
    height: auto;
    margin-right: 5px;
}

/* .related-products {
    padding: 10px;
    text-align: center;
} */

/* .container-products {
    max-width: 82%;
    margin: auto;
} */

.products {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 20px; 
    margin-bottom: 10px;
}

.products img {
    width: auto;
    height: 170px;
    padding: 10px;
}

.social-media-2 {
    border-bottom: 1px solid #ccc;
}

.iconosHeader{
    padding-right: 10px;
}

/* -------- editar y borrar prod*/
.editarProducto, .borrarProducto{
    border: 1px solid #000;
    padding: 10px;
    text-decoration: none;
    max-width: 30%;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.editarProducto:hover{
    background-color: #ABD0BF;
}
.borrarProducto:hover{
    background-color: #ABD0BF;
}

.editarBorrar{
    display: flex;
    justify-content: center;
}
.delete {
    margin: 0 0 0 20px;
    padding: 10px;
}

.item{
    margin: 0 0 10px 0;
}

.item a{
    color:#3c3c3c
}
/* ------------------------------------------------ */
@media(min-width:768px){
/*     .related-singleProduct{
        max-width: 30%;
    } */
}
@media (min-width: 1000px){

/* main {
    background-color: #ebebeb;
} */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 100%;
    margin: auto;
    /*  box-shadow: 0px 0px 10px rgb(100, 100, 100); */    
    border-bottom: 1px solid #ccc;
    padding: 20px;
    /* text-align: */
}


.card-product {
    display: flex;
    align-items: center;
    padding: 10px; 
    width: 60%;
    /* border: 1px solid #ccc; */
} 

.product-image {
    flex: 0 0 auto;
    margin-right: 5px; 
    margin-bottom: 0px;
}

.product-image img {
/*     max-height: 440px;
 */    padding: 15px;
    max-width: 100%;
    display: flex;
    /* max-height: 350px; */
    /* margin: auto; */
}

.name-product {
    font-size: 22px;
    margin-bottom: 5px;
}

.product-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
/*     gap: 10px; */
    margin-bottom: 0px;
    text-align: left;
    max-width: 50%;
}

.description {
    margin-bottom: 34px;
    font-size: 15px;
}

.price {
    font-size: 21px;
    margin-bottom: 34px;
}

.cantidad {
    display: flex;
    margin-bottom: 60px;
    align-items: left;
    justify-content: left;
}

.restador, .sumador {
    transition-duration: 0.5s;
}

.social-media-1 {
    display: block;
}

.social-media-2 {
    display: none;
}

.insta, .wpp {
    margin-bottom: 0px;
}

.envio {
    display: block;
}

.buy-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
/*     max-width: 70%;
 */    margin-bottom: 0px;
    margin-right: 10px;
    /* max-width: 35%; */
  /*   background-color:  #24F3ED; */
}

.buy-section {
    display: flex;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 18px;
    margin-bottom: 10px;
}

.buy-description {
    gap: 10px;
    margin-bottom: 0px;
}

.comprar, .carrito {
    width: 200px;
    height: 35px;
}

.payment {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    width: 242px;
}

.tarjetas {
    margin-bottom: 0px;
    gap: 5px; 
}

.tarjetas img {
    width: 58px;
}

/* .related-products {
    margin-top: 10px;
    padding: 20px;
    margin-left: 7%;
    text-align: left;
} */

.products {
    gap: 1%; 
}

.products img {
    height: 325px;
    padding: 10px;
}

.comprar:hover {
    background-color: #388E3C; 
  }

  .carrito:hover {
    background-color: #1976D2;
  }

  .container3{
    display: flex;
}  

}
