* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    margin: 0;
}

.name-img{
    display: flex;
}
.name-img h2{
    align-self: center;
    padding: 30px;
}

.misDatos{
    margin-top: 30px 0;
}

.formProfile{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.box-profile {
    border: 2px solid #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    border-radius: 10px;
}

.caja {
    width: auto;
    height: auto;
    margin: 10px 10px 20px 10px;
    align-items: center;
    justify-content: center;
}

.photo-profile {
    width: 150px;
    height: 150px;
    clip-path: circle(50% at 50% 50%);
}

.photo-profile img {
    width: 100%;
    height: 100%;
}

.label {
    display: block;
    width: 200px;
    padding: 12px;
}


.input {
    color: #000;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-border {
    position: absolute;
    background: var(--border-after-color);
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: scaleX(0%);
    transition: transform 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.input:focus {
    outline: none;
}

.input:focus+.input-border {
    transform: scaleX(100%);
}

.form-control {
    color:black
}

.input-alt {
    font-size: 1.2rem;
    padding-inline: 1em;
    padding-block: 0.8em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-border-alt {
    height: 3px;
    background: radial-gradient(circle, rgba(80, 121, 242, 1) 11%, rgba(26, 71, 228, 1) 48%, rgba(49, 8, 184, 1) 88%);
    transition: transform 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.input-alt:focus+.input-border-alt {
    transform: scaleX(100%);
}

/* Button Save Changes */

.btn {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
}

.btn {
    width: 150px;
    height: 60px;
    border-radius: 50px;
    background: #ABD0BF;
    box-shadow: 0 20px 30px -6px #799192;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 24px;
    color: white;
    margin:15px;
}

.btn:hover {
    transform: translateY(3px);
    box-shadow: none;
}

.btn:active {
    opacity: 0.5;
}


@media (min-width: 880px) {
    .datos{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    .div1{
        padding: 20px;
    }
    .div2{
        padding: 20px;
    }
}