body{
    margin:0px;
    font-family: "nunito";
}
.arriba{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom:20px;
    background-color: #ABD0BF;
}
.titulo{
    font-size:14px;
    margin-left: 10px;
    
}
.fa-xmark{
    margin-left: 10px;
}

.producto{
    display: flex;
}

.nombre{
    margin: 0;
}
.descripcionProd{
    margin:0;
}

.imagen-prod{
    width: 20%;
    height: 20%;
    margin: 0 5px 30px;
}

.sumador{
    margin:0 10px 0 0;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #ABD0BF;
    background-color: white;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.sumador:hover{
    background-color: #ABD0BF;
}

.restador{
    margin: 0 0 0 10px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 50px;
    border-width: 1px;
    border-color: #ABD0BF;
    border-style: solid;
    background-color: white;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.restador:hover{
    background-color: #ABD0BF;
}

.cantidad{
    display: flex;
    align-items: center;
} 

.trash{
    display: flex;
    margin-left: auto;
    font-size: 20px;
    transition-property: font-size;
    transition-duration: 0.5s;
}

.trash:hover{
    font-size:25px;
}

.precio{
    position: relative;
    top: 20px;
    right: 30px;
}

.enviosTexto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-truck-fast{
    margin:0 10px 0 0;
}

.enviosBotones{
    display: flex;
    justify-content: center;
}

.postal{
    height: 30px;
    text-align: center;
    border-color: #F2AC57;
    border-style: solid;
}

.link{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.total{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 10px;
    border-top: solid 1px #ABD0BF;
    font-size: 20px;
}

.iniciar{
    text-align: center;
}
.botonCompra{
    width: 60%;
    height: 35px;
    border-color:#ABD0BF;
    border-style: solid;
    background-color: #dcebe4;
    transition-property: all;
    transition-duration: 0.5s;
}

.botonCompra:hover{
    height: 45px;
    width: 70%;
    background-color: #ABD0BF;
}

.verMas{
    text-align: center;
    font-size: 15px;
    margin-top: 8px;
}

.extra{
    border-top: solid 1px black;
    margin-top:20px;
    margin-bottom: 20px;
}

.entrega{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-location-dot{
    margin:0 10px 0 0
}

.codPost{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.codigoElegido{
    margin-left: 10px;
}

.cambiarCP{
    margin-right: 10px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #F2AC57;
    background-color: #FFDB9D;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.cambiarCP:hover{
    background-color: #F2AC57;
}

.calcular{
    border-color: #F2AC57;
    border-style: solid;
    background-color: #FFDB9D;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.calcular:hover{
    background-color: #F2AC57;
}

.direccion{
    text-align: center;
}
.domicilio{
    margin-bottom: 20px;
}

a{
    color: #5079F2
}
@media (min-width: 769px){
    body{
        width: 50%;
    }
}