body{
    background-image: linear-gradient(to top right, #ABD0BF, #E6F1EC);
    margin:0px;
    font-family: sans-serif;
}
.arriba{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom:20px;
    background-color: #ABD0BF;
}
.titulo{
    font-size:14px;
    margin-left: 10px;
    
}
.fa-xmark{
    margin-left: 10px;
}

.producto{
    display: flex;
}

.nombre{
    margin: 0 0 10px 0; 
    font-weight: bold;
}
.descripcionProd{
    margin:0 0 10px 0;  
}

.imagen-prod{
    width: 20%;
    height: 20%;
    margin: 0 5px 30px;
}

.sumador{
    margin:0 10px 0 0;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #ABD0BF;
    background-color: white;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.sumador:hover{
    background-color: #ABD0BF;
}

.restador{
    margin: 0 0 0 10px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 50px;
    border-width: 1px;
    border-color: #ABD0BF;
    border-style: solid;
    background-color: white;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.restador:hover{
    background-color: #ABD0BF;
}

.cantidad{
    display: flex;
    align-items: center;
} 

.fa-trash-can:hover{
    color:#ABD0BF;
}

.fa-trash-can{
    display: flex;
    font-size: 20px;
    transition-property: all;
    transition-duration: 0.5s;
    z-index: 2;
}

.direcciones{
    text-align: center;
}
.precio{
    position: relative;
    top: 25px;
    right: 25px;
}

.enviosTexto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.address{
    margin-bottom: 15px;
}

.fa-truck-fast{
    margin:0 10px 0 0;
}

.enviosBotones{
    display: flex;
    justify-content: center;
}

.postal{
    height: 30px;
    text-align: center;
    border-color: #F2AC57;
    border-style: solid;
}

.link{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 12px;
    color: #3c3c3c;
    text-decoration: underline;
}

.link a{
    color:#3c3c3c
}

.total{
    display: flex;
    justify-content: center;
    margin:30px;
    font-size: 20px;
}

.cart-items{
    display: flex;
    justify-content: center;
}
.iniciar{
    text-align: center;
    margin-top: 40px;
}
.botonCompra{
    width: 30%;
    height: 35px;
    border-color:#ABD0BF;
    border-style: solid;
    background-color: #dcebe4;
    transition-property: all;
    transition-duration: 0.5s;
}

.botonCompra:hover{
    height: 40px;
   /*  width: 70%; */
    background-color: #ABD0BF;
}

.verMas{
    text-align: center;
    font-size: 15px;
    margin-top: 8px;
    color: #3c3c3c;
    text-decoration: underline;
    margin-bottom: 50px;
}

.extra{
    border-top: solid 1px black;
    margin-top:20px;
    margin-bottom: 20px;
}

.entrega{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-location-dot{
    margin:0 10px 0 0
}

.codPost{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.codigoElegido{
    margin-left: 10px;
}

.cambiarCP{
    margin-right: 10px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #F2AC57;
    background-color: #FFDB9D;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.cambiarCP:hover{
    background-color: #F2AC57;
}

.calcular{
    border-color: #F2AC57;
    border-style: solid;
    background-color: #FFDB9D;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.calcular:hover{
    background-color: #F2AC57;
}

.direccion{
    text-align: center;
}
.domicilio{
    margin-bottom: 20px;
}

a{
    color: #5079F2
}

.totalTexto{
    margin-left: 50px;
    margin-right: 15px;
}
.totalPrecio{
    margin-right: 50px;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

i {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black;
}

#cart-container{
    width: 50%;
    text-align: center;
}

.item{
    margin: 0 0 10px 0;
}

.item a{
    color:#3c3c3c
}

.cart-item{
    display: flex;
    align-items: center;
    margin-top:20px;
}
.cart-img{
    max-width: 120px;
    max-height: 120px;
}

.cart-name{
    margin: 20px;
    font-weight: bold;
    flex:1;
}

.cart-price{
    margin-right: 50px;
}

.sub-title {
    margin: 25px 0 8px 30px;
    font-size: 25px;
    font-weight: 550;

}
.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px; 
    margin-top: 5px;
}

.card-product-carrito {
    flex: 1 0 auto; 
    max-width: 200px;
    padding: 10px;
    margin: 10px;
    border: solid #e6eae6;
    border-radius: 10px;
    box-sizing: border-box; 
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
}

.card-product-carrito img {
    width: auto;
    max-width: 80%;
    height: 180px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}

.product-description {
    margin-top: 10px;
    border-top: solid #f0f5f0;
    padding-top: 15px; 
    padding-left: 15px; 
    height: 100px; 
    overflow: hidden;
    text-align: left; 
}

.product-description h3 {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 5px;
    margin-top: 0; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.buttons {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
    gap: 20px;
}
.add-shipping-cart{
    margin-top: 10px;
}

.add-shipping-cart,
.buy {
    width: 120px; 
    height: 40px; 
    border-radius: 20px; 
    background-color: #ABD0BF;
    border: none;
    font-size: 14px; 
}

.add-shipping-cart i {
    font-size: 20px; 
}

.add-shipping-cart:hover,
.buy:hover {
    background: #ABD0BF;
    box-shadow: inset -18px 18px 36px #91b1a2,
        inset 18px -18px 36px #c5efdc;
    border: none;
}
.sub-title-carrito{
    font-size: 20px;
    margin-left: 30px;
}

/* ---------- */

@media (min-width: 769px){
    
    .ingresa-registrate-carro{
        display: flex;
    }
    .card-product-carrito:hover{
        box-shadow: -3px 3px 8px #a4c8b7, 3px -3px 8px #b2d8c7;
    }
    
   
}
@media (max-width: 650px) {
    .extra-products {
        display: none;
    }
}
@media (min-width: 1000px) {
    
    .container3{
        display: flex;
    }  
    .card-product-carrito{
        flex:20%;
    }
}
