main{
    background-image: linear-gradient(to top right, #ABD0BF, #E6F1EC);
    padding-top: 10px;
}

.image{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #eFF8F0;
}
th {
    background-color: #eFF8F0;
    color: #333;
}

.delete{
    border-style: none;
    font-size: 20px;
    cursor:pointer;
}

.fa-pen-to-square{
    font-size: 20px;
}

.table-wrapper{
    overflow-x: auto;
    max-width: 100%;
}