<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("./partials/head.ejs" , { cssSheet: "stylesCarrito", cssSheet1:"headerFooter", icons: "https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Roboto&display=swap"} ) %>
</head>
<body>
    <%- include("./partials/header.ejs")%>
<main>
    <div class="arriba">
        <a href="/" class="fa-solid fa-xmark"></a>
        <div class="titulo"><h1>Carrito de compras</h1></div>
    </div>
    <div id="cart-container"></div>
    <div class="producto">
        <!-- <div class="cantidad">
            <button id="restador"class="sumador">-</button>
            <p id="cantidad"class="cant">0</p>
            <button id="sumador" class="restador">+</i></button>
        </div> -->
    </div>
    <!-- <div class="trash">
        <i class="fa-regular fa-trash-can"></i>
    </div>
    <p class="precio">$</p>
    <p id="unidad"class="precio">35</p> -->
    <div class="enviosTexto">
        <i class="fa-solid fa-location-dot"></i>
        <p>¿Dónde puedo retirar mi pedido?</p>
    </div>
    <div class="direcciones">
        <p>Perón 1775, San Miguel, Buenos Aires</p>
        <p>Rodriguez Peña 1266, San Miguel, Buenos Aires</p>
    </div>

    <div class="total">
        <p class="totalTexto"><strong>Total:</strong></p>
        <p id="total" class="totalPrecio"><strong></strong></p>
    </div>

    <div class="iniciar">
        <button class="botonCompra" type="submit">INICIAR COMPRA</button>
    </div>
    <div class="verMas">
        <a class= "verMas" href="/">Ver mas productos</a>
    </div>

    <!-- <p class="extra">(opciones para cuando pone el código postal):</p>

    <div class="codPost">
        <p class="codigoElegido">Entregas para el CP: 1111</p> 
        <button class="cambiarCP">Cambiar CP</button>
    </div>

    <form class="entrega">
        <label>
            <input type="radio" name="opciones" class="opcion1"><i class="fa-solid fa-truck-fast"></i>Envío a domicilio
        </label>
        <p class="domicilio">Correo Argentino Clásico - Envío a domicilio</p>
        <label>
            <input type="radio" name="opciones" class="opcion2"><i class="fa-solid fa-location-dot"></i>Retirar por el local
        </label>
    </form>
    <p class="direccion">(dirección del local)</p> -->
    </main>
    <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/restador-sumador.js" ></script>
    <script src="/js/carrito.js"></script>
</html>