<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Vitamin Shop</title>
    <link rel = "stylesheet" href = "css/stylesCarrito.css">
    <script src="https://kit.fontawesome.com/40671445d5.js" crossorigin="anonymous"></script>
    <meta name= "viewport" content= "width=device-wid th, initial-scale=1">
</head>

<body>
    <div class="arriba">
        <div class="titulo"><h1>Carrito de compras</h1></div>
        <i class="fa-regular fa-circle-xmark"></i>
    </div>


    <div class="contenedor-producto">
        <div class="producto">
            <h3>Producto</h3>
            <img src = "./img/diet.jpg" alt = "foto prueba" class="fotoProd">
        </div>
            <div class="detalles">
                <div class="nombre-precio">
                    <p>Nombre del producto</p>
                    <p>Precio</p>
                </div>
                <div class="cantidad">
                    <i class="fa-solid fa-plus"></i>
                    <p>cant</p>
                    <i class="fa-solid fa-minus"></i>
                </div>
            </div>
        <div class="subtotal">
            <h3>Subtotal</h3>
            <p>$$$$$</p>   
        </div>
    </div>
</body>
</html>