<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Página no encontrada</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <header class="header">
        <a href="/">
        <div class="container1">
            <div class="logo">
                <img src="/img/Logo_blanco.png" alt="Logo">
            </div>
        </div>
    </a></a>
    </header>

    <!-- Contenido del error -->
    <div class="container">
        <h1>Error 404</h1>
        
        <p>La página que buscas no existe.</p>
        <br>
        <p>Vuelve <a href="/">a la página principal</a> para continuar.</p>
    </div>
</body>
</html>