<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1a854d005c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/home.css">
    <title>The Vitamin Shop</title>
</head>

<body>

    <head>
        <section class="header">
            <article class="container1">
                <div class="logo">
                    <img src="/img/logo.jpeg" alt="Logo">
                </div>
                <div class="location">
                    <p>Enviar a:</p>
                </div>
                <div class="search-product">
                    <input type="text" name="last-name" id="last-name" required>
                    <label for="last-name">Buscar producto</label>
                </div>
                <div class="logIn">
                    <a href="/login">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        <p>Ingresa</p>
                    </a>
                </div>
                <div class="singUp">
                    <a href="/register">
                    <i class="fa-solid fa-user-plus"></i>
                    <p>Registrate</p>
                    </a>
                </div>
                <div class="shoppingCart">
                    <a href="/carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a> 
                </div>
            </article>
            <article class="container2">
                <nav>
                    <ul class="list1">
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Historial</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </nav>
            </article>

            <article class="container3">
                <ul class="list2">
                    <li><a href="#"><i class="fa-solid fa-bars"></i>Todo</a></li>
                    <li><a href="#"></a>Suplementos Deportivos</li>
                    <li><a href="#"></a>Suplementos Naturales</li>
                    <li><a href="#"></a>Cosmética y Salud</li>
                    <li><a href="#"></a>Alimentos Nutricionales</li>
                    <li><a href="#"></a>Bebidas e Infusiones</li>
                    <li><a href="#">Despensa</a></li>
                </ul>
            </article>

        </section>
    </head>

    <main>
        <section class="container">
            imagen imagen imagen imagen
        </section>
        <section class="info-banner">
            <article class="card-info">
                <div class="icon-info"><i class="fa-solid fa-plane"></i></i></div>
                <div class="description-info">
                    <h4 class="sub-title1">Evíos a nivel nacional</h4>
                    <p class="text-info">Realizamos envíos a nivel nacional por paquetería certificada.</p>
                </div>
            </article>
            <article class="card-info">
                <div class="icon-info"><i class="fa-solid fa-truck-fast"></i></div>
                <div class="description-info">
                    <h4 class="sub-title1">Evío gratis</h4>
                    <p class="text-info">Por compras superiores a $150 USD, tus envíos son copmpletamente gratuitos.</p>                </div>
            </article>
            <article class="card-info">
                <div class="icon-info"><i class="fa-solid fa-credit-card"></i></div>
                <div class="description-info">
                    <h4 class="sub-title1">Medios de pago</h4>
                    <p class="text-info">Aceptamos todas las tarjetas, transferencias y MercadoPago.</p>
                </div>
            </article>
            <article class="card-info">
                <div class="icon-info"><i class="fa-solid fa-shield-halved"></i></div>
                <div class="description-info">
                    <h4 class="sub-title1">Compra segura</h4>
                    <p class="text-info">Despachos de productos a tiempo y atención premium asegurada</p>
                </div>
            </article>
        </section>

        <h1 class="sub-title2">PRODUCTOS DESTACADOS:</h1>

        <section class="products">
            <div class="card-product">
                <img src="img\imagen-muestra.jpg" alt="producto">
                <div class="product-description">
                    <h3 class="name-product">Nombre del producto</h3>
                    <p class="description">Descripción del producto</p>
                </div>
                <div class="buttons">
                    <button class="add-shipping-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="buy">
                        <p>Comprar</p>
                        <p><strong>$150 USD</strong></p>
                    </button>
                </div>
            </div>
            <div class="card-product">
                <img src="img\imagen-muestra.jpg" alt="producto">
                <div class="product-description">
                    <h3 class="name-product">Nombre del producto</h3>
                    <p class="description">Descripción del producto</p>
                </div>
                <div class="buttons">
                    <button class="add-shipping-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="buy">
                        <p>Comprar</p>
                        <p><strong>$150 USD</strong></p>
                    </button>
                </div>
            </div>
            <div class="card-product">
                <img src="img\imagen-muestra.jpg" alt="producto">
                <div class="product-description">
                    <h3 class="name-product">Nombre del producto</h3>
                    <p class="description">Descripción del producto</p>
                </div>
                <div class="buttons">
                    <button class="add-shipping-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="buy">
                        <p>Comprar</p>
                        <p><strong>$150 USD</strong></p>
                    </button>
                </div>
            </div>
            <div class="card-product">
                <img src="img\imagen-muestra.jpg" alt="producto">
                <div class="product-description">
                    <h3 class="name-product">Nombre del producto</h3>
                    <p class="description">Descripción del producto</p>
                </div>
                <div class="buttons">
                    <button class="add-shipping-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="buy">
                        <p>Comprar</p>
                        <p><strong>$150 USD</strong></p>
                    </button>
                </div>
            </div>
            <div class="card-product">
                <img src="img\imagen-muestra.jpg" alt="producto">
                <div class="product-description">
                    <h3 class="name-product">Nombre del producto</h3>
                    <p class="description">Descripción del producto</p>
                </div>
                <div class="buttons">
                    <button class="add-shipping-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="buy">
                        <p>Comprar</p>
                        <p><strong>$150 USD</strong></p>
                    </button>
                </div>
            </div>
            <div class="card-product">
                <img src="img\imagen-muestra.jpg" alt="producto">
                <div class="product-description">
                    <h3 class="name-product">Nombre del producto</h3>
                    <p class="description">Descripción del producto</p>
                </div>
                <div class="buttons">
                    <button class="add-shipping-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="buy">
                        <p>Comprar</p>
                        <p><strong>$150 USD</strong></p>
                    </button>
                </div>
            </div>
            <div class="card-product">
                <img src="img\imagen-muestra.jpg" alt="producto">
                <div class="product-description">
                    <h3 class="name-product">Nombre del producto</h3>
                    <p class="description">Descripción del producto</p>
                </div>
                <div class="buttons">
                    <button class="add-shipping-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="buy">
                        <p>Comprar</p>
                        <p><strong>$150 USD</strong></p>
                    </button>
                </div>
            </div>
            <div class="card-product">
                <img src="img\imagen-muestra.jpg" alt="producto">
                <div class="product-description">
                    <h3 class="name-product">Nombre del producto</h3>
                    <p class="description">Descripción del producto</p>
                </div>
                <div class="buttons">
                    <button class="add-shipping-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="buy">
                        <p>Comprar</p>
                        <p><strong>$150 USD</strong></p>
                    </button>
                </div>
            </div>
        </section>

        <h1 class="sub-title">PROMOCIONES DEL MES:</h1>

        <section class="products">
            <div class="card-product">
                <img src="img\imagen-muestra.jpg" alt="producto">
                <div class="product-description">
                    <h3 class="name-product">Nombre del producto</h3>
                    <p class="description">Descripción del producto</p>
                </div>
                <div class="buttons">
                    <button class="add-shipping-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="buy">
                        <p>Comprar</p>
                        <p><strong>$150 USD</strong></p>
                    </button>
                </div>
            </div>
            <div class="card-product">
                <img src="img\imagen-muestra.jpg" alt="producto">
                <div class="product-description">
                    <h3 class="name-product">Nombre del producto</h3>
                    <p class="description">Descripción del producto</p>
                </div>
                <div class="buttons">
                    <button class="add-shipping-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="buy">
                        <p>Comprar</p>
                        <p><strong>$150 USD</strong></p>
                    </button>
                </div>
            </div>
            <div class="card-product">
                <img src="img\imagen-muestra.jpg" alt="producto">
                <div class="product-description">
                    <h3 class="name-product">Nombre del producto</h3>
                    <p class="description">Descripción del producto</p>
                </div>
                <div class="buttons">
                    <button class="add-shipping-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="buy">
                        <p>Comprar</p>
                        <p><strong>$150 USD</strong></p>
                    </button>
                </div>
            </div>
            <div class="card-product">
                <img src="img\imagen-muestra.jpg" alt="producto">
                <div class="product-description">
                    <h3 class="name-product">Nombre del producto</h3>
                    <p class="description">Descripción del producto</p>
                </div>
                <div class="buttons">
                    <button class="add-shipping-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="buy">
                        <p>Comprar</p>
                        <p><strong>$150 USD</strong></p>
                    </button>
                </div>
            </div>
            <div class="card-product">
                <img src="img\imagen-muestra.jpg" alt="producto">
                <div class="product-description">
                    <h3 class="name-product">Nombre del producto</h3>
                    <p class="description">Descripción del producto</p>
                </div>
                <div class="buttons">
                    <button class="add-shipping-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="buy">
                        <p>Comprar</p>
                        <p><strong>$150 USD</strong></p>
                    </button>
                </div>
            </div>
            <div class="card-product">
                <img src="img\imagen-muestra.jpg" alt="producto">
                <div class="product-description">
                    <h3 class="name-product">Nombre del producto</h3>
                    <p class="description">Descripción del producto</p>
                </div>
                <div class="buttons">
                    <button class="add-shipping-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="buy">
                        <p>Comprar</p>
                        <p><strong>$150 USD</strong></p>
                    </button>
                </div>
            </div>
            <div class="card-product">
                <img src="img\imagen-muestra.jpg" alt="producto">
                <div class="product-description">
                    <h3 class="name-product">Nombre del producto</h3>
                    <p class="description">Descripción del producto</p>
                </div>
                <div class="buttons">
                    <button class="add-shipping-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="buy">
                        <p>Comprar</p>
                        <p><strong>$150 USD</strong></p>
                    </button>
                </div>
            </div>
            <div class="card-product">
                <img src="img\imagen-muestra.jpg" alt="producto">
                <div class="product-description">
                    <h3 class="name-product">Nombre del producto</h3>
                    <p class="description">Descripción del producto</p>
                </div>
                <div class="buttons">
                    <button class="add-shipping-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="buy">
                        <p>Comprar</p>
                        <p><strong>$150 USD</strong></p>
                    </button>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <article class="footer">
            <div>
                <h3>Acerca de</h3>
                <ul>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Nuevos</a></li>
                </ul>
            </div>
            <div>
                <h3>Ayuda</h3>
                <ul class="help-list">
                    <li><a href="#">Envíos y entregas</a></li>
                    <li><a href="#">Devoluciones</a></li>
                    <li><a href="#">Cambios</a></li>
                    <li><a href="#">opciones de pago</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div>
                <h3>Mi cuenta</h3>
                <ul>
                    <li><a href="#">¿Todavía no tienes cuenta?</a></li>
                    <li><a href="#">Registrarte</a></li>
                </ul>
            </div>
        </article>
        <article class="social-media">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </article>
    </footer>
</body>

</html>