<!DOCTYPE html>
<html lang="en">

<%- include ("./partials/head.ejs" , { cssSheet: "productDetail", icons: "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" } ) %>

<!-- <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/fd4e97413e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/productDetail.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>The Vitamin Shop</title>
</head> -->

<body>
    <head>
        <section class="header">
            <article class="container1">
                <div class="logo">
                    <img src="/img/logo.jpeg" alt="Logo">
                </div>
                <div class="location">
                    <p>Enviar a:</p>
                </div>
                <div class="search-product">
                    <input type="text" name="last-name" id="last-name" required>
                    <label for="last-name">Buscar producto</label>
                </div>
                <div class="logIn">
                    <a href="/login">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        <p>Ingresa</p>
                    </a>
                </div>
                <div class="singUp">
                    <a href="/register">
                    <i class="fa-solid fa-user-plus"></i>
                    <p>Registrate</p>
                    </a>
                </div>
                <div class="shoppingCart">
                    <a href="/carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a> 
                </div>
            </article>
            <article class="container2">
                <nav>
                    <ul class="list1">
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Historial</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </nav>
            </article>

            <article class="container3">
                <ul class="list2">
                    <li><a href="#"><i class="fa-solid fa-bars"></i>Todo</a></li>
                    <li><a href="#"></a>Suplementos Deportivos</li>
                    <li><a href="#"></a>Suplementos Naturales</li>
                    <li><a href="#"></a>Cosmética y Salud</li>
                    <li><a href="#"></a>Alimentos Nutricionales</li>
                    <li><a href="#"></a>Bebidas e Infusiones</li>
                    <li><a href="#">Despensa</a></li>
                </ul>
            </article>

        </section>

    <main>
        <div class="container">
            <div class="card-product">
                <div class="product-image">
                    <img src="/img/producto1-proteina.jpeg" alt="Proteina ENA">
                </div>
                    <div class="product-description">
                        <h2 class="name-product">TrueMade Whey Protein ENA</h2>
                        <p class="description">Proteína concentrada + isolatada. Máxima pureza, gran absorción, excelente calidad. 
                        Proteína concentrada + isolatada. Máxima pureza, gran absorción, excelente calidad. </p>
                        <p class="price">$20 USD</p>
                        
                        <div class="cantidad">
                            <button class="restador">-</button>
                            <p class="cant">1</p>
                            <button class="sumador">+</i></button>
                        </div>
                            <div class="social-media-1">
                                <p>COMPARTIR</p>
                                <a href="#"><img src="/img/Instagram-Logo.wine.svg" alt="Instagram" class="insta"></a>
                                <a href="#"><img src="/img/WhatsApp.svg.webp" alt="Whatsapp" class="wpp"></a>                    
                            </div>
                    </div>
            </div>

            <div class="buy-container">
                <div class="buy-section">
                    <div class="buy-description">
                        <p class="envio">Envío a todo el país</p>
                        <p>Stock disponible</p>
                        <p class="total">Total: $20 USD</p>
                        <a href="#"><button class="comprar">Comprar ahora</button></a>
                        <a href="#"><button class="carrito">Añadir al carrito</button></a>
                    </div>      
                </div>
                    <div class="payment">
                        <p class="medios-pago">Medios de pago:</p>
                            <div class="tarjetas">
                                <img src="/img/mastercard.jpg" alt="mastercard-debito">
                                <img src="/img/visa-debito.png" alt="visa-debito">
                                <img src="/img/maestro.png" alt="maestro">
                                <img src="/img/cabal.png" alt="cabal">
                                <img src="/img/mercado-pago.jpg" alt="mercado-pago">
                            </div>
                    </div>
                </div>
                    <div class="social-media-2">
                        <p>COMPARTIR</p>
                        <a href="#"><img src="/img/Instagram-Logo.wine.svg" alt="Instagram" class="insta"></a>
                        <a href="#"><img src="/img/WhatsApp.svg.webp" alt="Whatsapp" class="wpp"></a>                    
                    </div>
                        
        </div>

        <div class="container-products">
            <h2 class="related-products">Productos relacionados</h2>
                <div class="products">
                    <img src="/img/producto1-proteina.jpeg" alt="Proteina ENA">
                    <img src="/img/producto1-proteina.jpeg" alt="Proteina ENA">
                    <img src="/img/producto1-proteina.jpeg" alt="Proteina ENA">
                    <img src="/img/producto1-proteina.jpeg" alt="Proteina ENA">
                    <img src="/img/producto1-proteina.jpeg" alt="Proteina ENA">
                </div>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>