<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/fd4e97413e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/productDetail.css">
    <title>The Vitamin Shop</title>
</head>
<body>
    <main>
        <div class="container">
            <div class="card-product">
                <div class="product-image">
                    <img src="/img/producto1-proteina.jpeg" alt="Proteina ENA">
                </div>
                    <div class="product-description">
                        <h2 class="name-product">TrueMade Whey Protein ENA</h2>
                        <p class="description">Proteína concentrada + isolatada. Máxima pureza, gran absorción, excelente calidad. 
                        Proteína concentrada + isolatada. Máxima pureza, gran absorción, excelente calidad. Proteína concentrada + isolatada. 
                        Máxima pureza, gran absorción, excelente calidad.</p>
                        <p class="price">$20 USD</p>
                        
                        <div class="cantidad">
                            <button class="restador">-</button>
                            <p class="cant">1</p>
                            <button class="sumador">+</i></button>
                        </div>
                            <div class="social-media">
                                <p>COMPARTIR</p>
                                <a href="#"><img src="/img/Instagram-Logo.wine.svg" alt="Instagram" class="insta"></a>
                                <a href="#"><img src="/img/WhatsApp.svg.webp" alt="Whatsapp" class="wpp"></a>                    
                            </div>
                    </div>
            </div>

            <div class="buy-container">
                <div class="buy-section">
                    <div class="buy-description">
                        <p>Envío a todo el país</p>
                        <p>Stock disponible</p>
                        <p>Total: $20 USD</p>
                        <button class="comprar">Comprar ahora</button>
                        <button class="carrito">Añadir al carrito</button>
                    </div>      
                </div>
                    <div class="payment">
                        <p class="medios-pago">Medios de pago:</p>
                            <div class="tarjetas">
                                <img src="/img/mastercard.jpg" alt="mastercard-debito">
                                <img src="/img/visa-debito.png" alt="visa-debito">
                                <img src="/img/maestro.png" alt="maestro">
                                <img src="/img/cabal.png" alt="cabal">
                                <img src="/img/mercado-pago.jpg" alt="mercado-pago">
                            </div>
                    </div>
                </div>
        </div>

        <div class="container-products">
            <h2 class="related-products">Productos relacionados</h2>
                <div class="products">
                    <img src="/img/producto1-proteina.jpeg" alt="Proteina ENA">
                    <img src="/img/producto1-proteina.jpeg" alt="Proteina ENA">
                    <img src="/img/producto1-proteina.jpeg" alt="Proteina ENA">
                    <img src="/img/producto1-proteina.jpeg" alt="Proteina ENA">
                    <img src="/img/producto1-proteina.jpeg" alt="Proteina ENA">
                </div>
        </div>


    </main>
</body>
</html>