<!DOCTYPE html>
<html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Registro-TheVitaminShop</title>
</head>
<body>
    <form action="/src/views/register.html" method="post">registrate
        <p> 
             <label for="name">Nombre y Apellido</label>
             <input type="text" name="Nombre">
         </p>
         <p>
             <label for="user">Nombre de Usuario</label>
             <input type="name" name="Usuario">
         </p>
         <p>
             <label for="email">email</label>
             <input type="email" name="email">
         </p>
         <p>
             <label for="nacimiento">Fecha de Nacimiento</label>
             <input type="" name="email">
         </p>
         </form>
     <p>
     <button type="submit" value="volver"><a href="home.html">volver</a></button>
     </p>
         
</body>