<footer>
    <article class="footer">
        <div>
            <h3>Acerca de</h3>
            <ul>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Nuevos</a></li>
            </ul>
        </div>
        <div>
            <h3>Ayuda</h3>
            <ul class="help-list">
                <li><a href="#">Envíos y entregas</a></li>
                <li><a href="#">Devoluciones</a></li>
                <li><a href="#">Cambios</a></li>
                <li><a href="#">opciones de pago</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
        <div>
            <h3>Mi cuenta</h3>
            <ul>
                <li><a href="#">¿Todavía no tienes cuenta?</a></li>
                <li><a href="#">Registrarte</a></li>
            </ul>
        </div>
    </article>
    <article class="social-media">
        <a href="https://www.instagram.com/thevitaminshop_sm/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/thevitaminshop.sm" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://api.whatsapp.com/message/CWOVR6NBEKYXO1?autoload=1&app_absent=0" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
    </article>MZG-kDg"
</footer>