<footer>
    <article class="footer">
        <div class="div-footer">
            <h3>Acerca de</h3>
            <ul>
                <li class="item"><a href="#">Noticias</a></li>
                <li class="item"><a href="#">Nuevos</a></li>
            </ul>
        </div>
        <div class="div-footer">
            <h3>Ayuda</h3>
            <ul class="help-list">
                <li class="item"><a href="#">Envíos y entregas</a></li>
                <li class="item"><a href="#">Devoluciones</a></li>
                <li class="item"><a href="#">Cambios</a></li>
                <li class="item"><a href="#">Opciones de pago</a></li>
                <li class="item"><a href="#">Contacto</a></li>
            </ul>
        </div>
        <div class="div-footer">
            <h3>Mi cuenta</h3>
            <ul>
                <li class="item"><a href="/users/profile">Ver mi perfil</a></li>
                <li class="item"><a href="/users/register">¿Todavía no tienes cuenta?</a></li>
                <li class="item"><a href="/users/register">Registrarte</a></li>
                <li class="item"><a href="/users/login">Iniciar sesión</a></li>
            </ul>
        </div>
    </article>
    <article class="social-media">
        <a class="iconoFooter-ig" href="https://www.instagram.com/thevitaminshop_sm/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a class="iconoFooter-fb" href="https://www.facebook.com/thevitaminshop.sm" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a class="iconoFooter-wsp" href="https://api.whatsapp.com/message/CWOVR6NBEKYXO1?autoload=1&app_absent=0" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
    </article>
</footer>