<footer>
    <article class="footer">
        <div class="div-footer">
            <h3>Institucional</h3>
            <ul>
                <li class="item"><a href="#">Sobre The Vitamin Shop</a></li>
                <li class="item"><a href="#">Condiciones de envío</a></li>
                <li class="item"><a href="#">Términos y condiciones</a></li>
                <li class="item"><a href="#">Trabaja con nosotros</a></li>
                <li class="item"><a href='https://www.google.com/search?q=the+vitamin+shop+san+miguel&sca_esv=452cfffdbe2077f7&cs=0&sxsrf=ACQVn08goTwQ-zhqIfHyU5VdQAilOpB1sQ%3A1712871222123&ei=NlcYZqWOB-3U1sQPqoGWwAg&oq=The+Vitamin+Shop&gs_lp=Egxnd3Mtd2l6LXNlcnAiEFRoZSBWaXRhbWluIFNob3AqAggAMgcQIxiwAxgnMgoQABhHGNYEGLADMg0QABhHGNYEGMkDGLADMg0QABhHGNYEGJIDGLADMgoQABhHGNYEGLADMgoQABhHGNYEGLADMgoQABhHGNYEGLADMgoQABhHGNYEGLADMgoQABhHGNYEGLADMhMQLhiABBiKBRhDGMcBGNEDGLADSJoIUABYAHABeAGQAQCYAQCgAQCqAQC4AQPIAQCYAgGgAgeYAwCIBgGQBgqSBwExoAcA&sclient=gws-wiz-serp'>Nuestras sucursales</a></li>
            </ul>
        </div>
        <div class="div-footer">
            <h3>Ayuda</h3>
            <ul class="help-list">
                <li class="item"><a href="#">Cómo comprar</a></li>
                <li class="item"><a href="#">Medios de pago</a></li>
                <li class="item"><a href="#">Cambios</a></li>
                <li class="item"><a href="#">Devoluciones</a></li>
                <li class="item"><a href="https://api.whatsapp.com/message/CWOVR6NBEKYXO1?autoload=1&app_absent=0">Contacto</a></li>
            </ul>
        </div>
        <div class="div-footer">
            <h3>Mi cuenta</h3>
            <ul>
                <li class="item"><a href="/users/profile">Ver mi perfil</a></li>
                <li class="item"><a href="/users/register">¿Todavía no tienes cuenta?</a></li>
                <li class="item"><a href="/users/register">Registrarte</a></li>
                <li class="item"><a href="/users/login">Iniciar sesión</a></li>
            </ul>
        </div>
        <div class="div-footer">
            <h3>Seguinos</h3>
            <ul class="logos">
                <li><a class="iconoFooter-ig" href="https://www.instagram.com/thevitaminshop_sm/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a class="iconoFooter-fb" href="https://www.facebook.com/thevitaminshop.sm" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            </ul>
        </div>
    </article>
    <div class="footer-brand">
        <p class="copyright-text">THE VITAMIN SHOP <span class="copyright-symbol">®</span>. 2024. Todos los derechos reservados.</p>
    </div>
</footer>