<section class="header">
    <article class="container1">
        <a href="/">
            <div class="logo">
                <img src="/img/Logo_blanco.png" alt="Logo">
            </div>
        </a>
            <div class="search-product">
                <form method= "post" action="/products/search">
                <input type="text" name="keyword" id="search" required>
                <label for="search">Buscar producto</label>
                </form>
            </div>

            <% if (locals.isLogged && !locals.userIsAdmin) { %>
            <div class="container2">
                <div class="iconosHeader">
                    <a id="icono" href="/users/profile">
                        <i class="fa-solid fa-user"></i>
                        <p class="ingresa-registrate-carro">Mi perfil</p>
                    </a>
                </div>
                <div class="iconosHeader">
                    <a id="icono" href="/users/logout">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <p class="ingresa-registrate-carro">Cerrar sesión</p>
                    </a>
                </div>
                <div class="iconosHeader">
                    <a id="icono" href="/carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span id="cart-counter" class="cart-counter">0</span> <!-- contador -->
                        <p class="ingresa-registrate-carro">Carrito</p>
                    </a> 
                </div>
                </div>
                <% } else if ((!locals.isLogged) && (!locals.userIsAdmin)){ %>
                <div class="container2">
                    <div class="iconosHeader">
                        <a id="icono" href="/users/login">
                            <i class="fa-solid fa-right-to-bracket"></i>
                            <p  class="ingresa-registrate-carro">Ingresa</p>
                        </a>
                    </div>
                    <div class="iconosHeader">
                        <a id="icono" href="/users/register">
                            <i class="fa-solid fa-user-plus"></i>
                            <p class="ingresa-registrate-carro">Registrate</p>
                        </a>
                    </div>
                    <div class="iconosHeader">
                        <a id="icono" href="/carrito">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span id="cart-counter" class="cart-counter">0</span> <!-- contador -->
                            <p class="ingresa-registrate-carro">Carrito</p>
        
                        </a> 
                    </div>
                    </div>
                    <% } else if (locals.userIsAdmin) { %>
                        <div class="container2">
                            <div class="iconosHeader">
                                <a id="icono" href="/products/create">
                                    <i class="fa-solid fa-circle-plus"></i>
                                    <p class="ingresa-registrate-carro">Crear producto</p>
                                </a>
                            </div>
                            <div class="iconosHeader">
                                <a id="icono" href="/users/list">
                                    <i class="fa-solid fa-users"></i>
                                    <p class="ingresa-registrate-carro">Usuarios</p>
                                </a>
                            </div>
                            <div class="iconosHeader">
                                <a id="icono" href="/users/logout">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                    <p class="ingresa-registrate-carro">Cerrar sesión</p>
                                </a>
                            </div>
                            </div>
                            <% }%>
        </article>
        <article class="container2">
            <nav>
                <ul class="list2">
                    <li><a class="list1Transition" href="/products">Ver todos los productos</a></li>
                </ul>
            </nav>
        </article>

        <!-- <article class="container3">
            <ul class="list2">
                <li><a href="#">Natier</a></li>
                <li><a href="#">Geonat</a></li>
                <li><a href="#">ENA</a></li>
                <li><a href="/products">Todos los productos</a></li>
            </ul>
        </article> -->

        <div class="categories">
            <button onclick="toggleDropdown()" class="dropbtn">
                <i id="arrowIcon" class="fa-solid fa-caret-down rotate"></i>
                Categorías
              </button>
            <div id="myDropdown" class="dropdown-content">
              <a href="/products/category/1">Suplementos deportivos</a>
              <a href="/products/category/2">Suplementos naturales</a>
              <a href="/products/category/3">Cosmética y salud</a>
              <a href="/products/category/4">Alimentos nutricionales</a>
              <a href="/products/category/5">Bebidas e infusiones</a>
              <a href="/products/category/6">Despensa</a>
<!--               <a href="/products">Ver todos los productos</a>
 -->            </div>
         <!--    <a href="https://api.whatsapp.com/message/CWOVR6NBEKYXO1?autoload=1&app_absent=0" class="whatsapp-button"  rel="noopener noreferrer">
               <i class="fa-brands fa-whatsapp"></i>
              </a> -->
            <a href="https://www.instagram.com/thevitaminshop_sm/" class="instagram-button" rel="noopener noreferrer">
                <i class="fa-brands fa-instagram"></i>
            </a> 
            <a href="https://www.facebook.com/thevitaminshop.sm" class="facebook-button" rel="noopener noreferrer">
                <i class="fa-brands fa-facebook"></i>
            </a>
          </div>
        <script src = "/js/categories.js" type= "text/javascript"> </script>
</section>