<section class="header">
    <article class="container1">
        <a href="/">
            <div class="logo">
                <img src="/img/sinFondo.png" alt="Logo">
            </div>
        </a>
            <div class="search-product">
                <input type="text" name="last-name" id="last-name" required>
                <label for="last-name">Buscar producto</label>
            </div>

            <% if (locals.isLogged) { %>
            <div class="container2">
                <div class="iconosHeader">
                    <a href="/users/profile">
                        <i class="fa-solid fa-user"></i>
                        <p class="ingresa-registrate-carro">Mi perfil</p>
                    </a>
                </div>
                <div class="iconosHeader">
                    <a href="/users/logout">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <p class="ingresa-registrate-carro">Cerrar sesión</p>
                    </a>
                </div>
                <div class="iconosHeader">
                    <a href="/carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <p class="ingresa-registrate-carro">Carrito</p>
                    </a> 
                </div>
                </div>
                <% } else { %>
                <div class="container2">
                    <div class="iconosHeader">
                        <a href="/users/login">
                            <i class="fa-solid fa-right-to-bracket"></i>
                            <p class="ingresa-registrate-carro">Ingresa</p>
                        </a>
                    </div>
                    <div class="iconosHeader">
                        <a href="/users/register">
                            <i class="fa-solid fa-user-plus"></i>
                            <p class="ingresa-registrate-carro">Registrate</p>
                        </a>
                    </div>
                    <div class="iconosHeader">
                        <a href="/carrito">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p class="ingresa-registrate-carro">Carrito</p>
        
                        </a> 
                    </div>
                    </div>
                    <% } %>
        </article>
        <article class="container2">
            <nav>
                <ul class="list1">
                    <li><a class="list1Transition" href="#">Ofertas</a></li>
                    <li><a class="list1Transition" href="#">Historial</a></li>
                    <li><a class="list1Transition" href="#">Ayuda</a></li>
                </ul>
            </nav>
        </article>

       <!--  <article class="container3">
            <ul class="list2">
                <li><a href="#"></a>Suplementos Deportivos</li>
                <li><a href="#"></a>Suplementos Naturales</li>
                <li><a href="#"></a>Cosmética y Salud</li>
                <li><a href="#"></a>Alimentos Nutricionales</li>
                <li><a href="#"></a>Bebidas e Infusiones</li>
                <li><a href="#"></a>Despensa</li>
            </ul>
        </article> -->

        <div class="categories">
            <button onclick="toggleDropdown()" class="dropbtn">
                <i class="fa-solid fa-bars"></i>
                Categorías
              </button>
            <div id="myDropdown" class="dropdown-content">
              <a href="#">Suplementos naturales</a>
              <a href="#">Suplementos deportivos</a>
              <a href="#">Cosmética y salud</a>
              <a href="#">Alimentos nutricionales</a>
              <a href="#">Bebidas e infusiones</a>
              <a href="#">Despensa</a>
              <a href="/products">Ver todos los productos</a>

            </div>
          </div>
        <script src = "/js/categories.js" type= "text/javascript"> </script>
</section>