<section class="container">
    imagen imagen imagen imagen
</section>
<section class="info-banner">
    <article class="card-info">
        <div class="icon-info"><i class="fa-solid fa-plane"></i></i></div>
        <div class="description-info">
            <h4 class="sub-title1">Envíos a nivel nacional</h4>
            <p class="text-info">Realizamos envíos a nivel nacional por paquetería certificada.</p>
        </div>
    </article>
    <article class="card-info-enviosGratis">
        <div class="icon-info"><i class="fa-solid fa-truck-fast"></i></div>
        <div class="description-info">
            <h4 class="sub-title1">Envío gratis</h4>
            <p class="text-info">Por compras superiores a $150 USD, tus envíos son completamente gratuitos.</p>
         </div>
    </article>
    <article class="card-info">
        <div class="icon-info"><i class="fa-solid fa-credit-card"></i></div>
        <div class="description-info">
            <h4 class="sub-title1">Medios de pago</h4>
            <p class="text-info">Aceptamos todas las tarjetas, transferencias y MercadoPago.</p>
        </div>
    </article>
    <article class="card-info">
        <div class="icon-info"><i class="fa-solid fa-shield-halved"></i></div>
        <div class="description-info">
            <h4 class="sub-title1">Compra segura</h4>
            <p class="text-info">Despachos de productos a tiempo y atención premium asegurada</p>
        </div>
    </article>
</section>