<!DOCTYPE html>
<html lang="en">

<%- include ("./partials/head.ejs" , { cssSheet: "register", icons: "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"} ) %>

<body>
    <div class="container">
        <div class="box">
            <div class="box-register" id="register">
                <div class="top-header">
                    <h3>¡Registrate ahora!</h3>
                    <small>Es un gusto que hagas parte de nuestra familia.</small>
                </div>
                <div class="buttons-icons">
                    <button type="button" class="buttonfb">
                        <h4>Registrate con Facebook</h4>
                    </button>
                    <button type="button" class="buttonfb">
                        <h4>Registrate con Google</h4>
                    </button>
                    <button type="button" class="buttonfb">
                        <h4>Registrate con Apple</h4>
                    </button>
                </div>
                <hr>
                <form class="input-group" method="POST" enctype="multipart/form-data">                        
                    <div class="input-field">
                        <input type="text" class="input-box" id="name" name="name">
                        <label for="name">Nombre</label>
                    </div>
                    <div class="input-field">
                        <input type="text" class="input-box" id="lastName" name="lastName">
                        <label for="lastName">Apellido</label>
                    </div>
                    <div class="input-field">
                        <input type="text" class="input-box" id="email" name="email">
                        <label for="email">Correo Electrónico</label>
                    </div>
                    <div class="input-field">
                        <input type="password" class="input-box" id="password" name="password">
                        <label for="password">Contraseña</label>
                        <div class="eye-area">
                            <div class="eye-box" onclick="myRegPassword()">
                                <i class="fa-regular fa-eye" id="eye-2"></i>
                                <i class="fa-regular fa-eye-slash" id="eye-slash-2"></i>
                            </div>
                        </div>
                    </div>
                    <div class="image">
                        <p class="textImage">Imagen de perfil</p>
                        <input type="file" name= "image" class="image" id="image" >
                    </div>

                    <div class="input-field">
                        <input type="submit" class="input-submit" value="Registrate">
                    </div>
                </form>
            </div>
            <div class="switch">
                <a href="/users/login" class="login active" onclick="login()">Iniciar Sesión</a>
                <a href="/users/register" class="register" onclick="register()">Registrarse</a>
                <div class="btn-active" id="btn"></div>
            </div>
        </div>
    </div>
    <script>

        // View Password codes

        function myLogPassword() {

            var a = document.getElementById("logPassword");
            var b = document.getElementById("eye");
            var c = document.getElementById("eye-slash");

            if (a.type === "password") {
                a.type = "text";
                b.style.opacity = "0";
                c.style.opacity = "1";
            } else {
                a.type = "password";
                b.style.opacity = "1";
                c.style.opacity = "0";
            }
        }

        function myRegPassword() {

            var d = document.getElementById("regPassword");
            var b = document.getElementById("eye-2");
            var c = document.getElementById("eye-slash-2");

            if (d.type === "password") {
                d.type = "text";
                b.style.opacity = "0";
                c.style.opacity = "1";
            } else {
                d.type = "password";
                b.style.opacity = "1";
                c.style.opacity = "0";
            }
        }
    </script>
        </div>
    </div>
</body>

</html>